/*################### 
        ALL 
################### */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

main{
    margin-top: 120px;
}

/*################### 
        COMMON 
################### */

 :root {
     --color-blue: #0084fd;
     --color-lightblue: #b5ddff;
     --color-purple: #9792e4;
     --color-white: #fff;
     --color-black: #000;
     --accent-color: #fdc15f;
 }

 .d-flex {
     display: flex;
 }

 .portrait{
     width: 100%;
     height: 100%;
     object-fit:cover;
     border-radius: 100%;
 }

 .btn{
    border-radius: 20px;
    padding: 10px;
 }

/*################### 
        HEADER 
###################*/

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-blue);
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    z-index: 1;
}

.misure-container {
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    color: var(--color-white);
    font-size: 2rem;
}

.desktop-menu {
    display: none;
}

.desktop-menu li {
    display: inline-block;
}

.menu-voices {
    text-decoration: none;
    color: var(--color-white);
    padding: 10px;
    margin: 10px;
}

.menu-btn {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*################### 
        MAIN
###################*/

/* @@@@@@ APP SECTION @@@@@@ */

.cards-container{
    width: 100%;
}

.card {
    background-color: var(--color-lightblue);
    border-radius: 20px;
    margin: 0px 20px 2rem 20px;
    padding: 25px;
}

.card-content {
    text-align: center;
}

.card-title {
    color: var(--color-blue);
    margin: 2rem 0rem;
}

.card p {
    text-align:center;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.app-btn{
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
    padding: 15px 60px;
    /* il VP del mio smartphone è di 320px
    se lascio queste misure il bottone si rompe.
    Se metto: 15px 40px, no... ma il bottone diventa
    veramente piccolo, necessario altro BP? */
}

.fa-apple{
    margin-right: 10px;
}

.card img {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: -30px;   
}

.card .fa-solid {
    font-size:7rem;
    margin-top: 2rem;
    color: var(--color-blue);
}

/*################### 
    MEDIA QUERY 
################### */


/* @@@@@@  TABLET @@@@@@ */

@media all and (min-width: 768px) {
    
/* ++++ HEADER ++++ */
    .desktop-menu {
        display: none;
    }
/* ++++ MAIN ++++ */

/* --- APP SECTION ---  */

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .card {
        margin: 0px 0px 2rem 0px;
        }

    .demo-card {
        width: 63%
    }

    .code-card {
        width:30%;
    }

    .web-card,
    .dev-card,
    .branding-card {
        width: 30%;
    }

    .card img {
        width: 80%;
        position: relative;
        right: 60px;
        top: 0;
    }

    .demo-card p{
        text-align: left;
    }

    .demo-card .card-title{
        text-align: left;
    }

    .app-btn {
        position: relative;
        right: 110px;
    }
}

/* @@@@@@ DESKTOP @@@@@@ */

/* ++++ HEADER ++++ */

@media all and (min-width: 992px) {
    
    .misure-container{
        width: 80%;
        margin: 0 auto;
    }
    
    .desktop-menu {
        display:block;
    }

    .fa-bars {
        display: none;
    }

/* ++++ MAIN ++++ */

/* --- APP SECTION ---  */

.cards-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.demo-card {
    width: 65%
}

.code-card {
    width: 32%;
}

.web-card,
.dev-card,
.branding-card {
   width: 32%;
}

.demo-card .card-content {
    /* display: flex; */
}

.card img {
    width: 40%;
}

/* .card {
    margin: 0px 0px 2rem 0px;
}

.demo-card {
    width: 63%
}

.code-card {
    width: 30%;
}

.web-card,
.dev-card,
.branding-card {
    width: 30%;
}

.card img {
    width: 80%;
    position: relative;
    right: 60px;
    top: 0;
}

.demo-card p {
    text-align: left;
}

.demo-card .card-title {
    text-align: left;
}

.app-btn {
    position: relative;
    right: 90px;
} */
  

/* @@@@@@ LARGE DESKTOP @@@@@@ */

}

@media all and (min-width: 1200px) {

}