/*################### 
        ALL 
################### */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

main{
    margin-top: 120px;
}

/*################### 
        COMMON 
################### */

 :root {
     --color-blue: #0084fd;
     --color-lightblue: #b5ddff;
     --color-purple: #9792e4;
     --color-white: #fff;
     --color-black: #000;
     --accent-color: #fdc15f;
 }

 .d-flex {
     display: flex;
 }

 .portrait{
     width: 100%;
     height: 100%;
     object-fit:cover;
     border-radius: 100%;
 }

 .btn{
    border-radius: 20px;
    padding: 10px;
 }

/*################### 
        HEADER 
###################*/

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-blue);
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    z-index: 1;
}

.misure-container {
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    color: var(--color-white);
    font-size: 2rem;
}

.desktop-menu {
    display: none;
}

.desktop-menu li {
    display: inline-block;
}

.menu-voices {
    text-decoration: none;
    color: var(--color-white);
    padding: 10px;
    margin: 10px;
}

.menu-btn {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*################### 
        MAIN
###################*/

/* @@@@@@ APP SECTION @@@@@@ */

.cards-container{
    width: 100%;
}

.card {
    background-color: var(--color-lightblue);
    border-radius: 20px;
    margin: 0px 12px 2rem 12px;
    padding: 25px;
}

.card-content {
    text-align: center;
}

.card-title {
    color: var(--color-blue);
    margin: 2rem 0rem;
}

.card p {
    text-align:center;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.75rem;
}

.app-btn{
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 600;
    padding: 15px 60px;
}

.fa-apple{
    margin-right: 10px;
}

.demo-card-img{
    /* max-width: 300px; */
}

.card img {
    width: 100%;
    margin-top: 2rem;
    
}

.card .fa-solid {
    font-size:7rem;
    margin-top: 2rem;
    color: var(--color-blue);
}

.card-content {
    flex-direction: column;
}


/* @@@@@@ STRATEGIC PLANNING SECTION @@@@@@ */

.planning {
    background-color: var(--color-purple);
}

.planning-container {
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.planning-img {
    width: 100%;
    margin-bottom: 2rem;
}

.planning-title,
.planning-text {
    color: var(--color-white);
    margin: 2rem 0rem 2rem 0rem;
}

.planning-title{
    font-size: 30px;
}

.planning-text {
    line-height: 1.75rem;
}

.planning-card{
    background-color: var(--color-white);
    border-radius: 50px;
    width: 100%;
    margin: 0px 12px;
    flex-direction: column;
    align-items: center;
}

.planning-card-img {
    width: 100%;
}

.planning-card-title{
    
}

.planning-card-text{

}

.planning-card-btn {
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-purple);
    border-radius: 100%;
    font-size: 30px;
    padding-left: 18px;
    padding-right: 18px;
}




/*################### 
    MEDIA QUERY 
################### */


/* @@@@@@  TABLET @@@@@@ */

@media all and (min-width: 768px) {
    
/* ++++ HEADER ++++ */
    .desktop-menu {
        display: none;
    }
/* ++++ MAIN ++++ */

/* --- APP SECTION ---  */

    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .demo-card {
        width: calc(66.666% - 1.5rem);
    }
    
    .code-card,
    .web-card,
    .dev-card,
    .branding-card {
        width: calc(33.333% - 1.5rem);
    }

    .demo-card p,
    .demo-card .card-title {
        text-align: left;
    }
}

/* @@@@@@ DESKTOP @@@@@@ */

/* ++++ HEADER ++++ */

@media all and (min-width: 992px) {
    
    .misure-container{
        width: 80%;
        margin: 0 auto;
    }
    
    .desktop-menu {
        display:block;
    }

    .fa-bars {
        display: none;
    }

/* ++++ MAIN ++++ */

/* --- APP SECTION ---  */

.cards-container {
    width: 80%;
    margin: 0 auto;
}

.card-content {
    flex-direction: row;
}


.demo-card-img,
.demo-card-text {
    width: 50%;  
}

/* @@@@@@ LARGE DESKTOP @@@@@@ */

}

@media all and (min-width: 1200px) {

}