/*################### 
        ALL 
################### */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

main{
    margin-top: 120px;
}

/*################### 
        COMMON 
################### */

 :root {
     --color-blue: #0084fd;
     --color-lightblue: #b5ddff;
     --color-purple: #9792e4;
     --color-white: #fff;
     --color-black: #000;
     --color-grey: #333333;
     --accent-color: #fdc15f;
     
 }

 .d-flex {
     display: flex;
 }

 .portrait{
     width: 100%;
     height: 100%;
     object-fit:cover;
     border-radius: 100%;
 }

 .portrait-contain {
     width: 250px;
     height: 250px;
     padding: 10px;
 }

 .btn{
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
 }

/*################### 
        HEADER 
###################*/

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-blue);
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    z-index: 1;
}

.misure-container {
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    color: var(--color-white);
    font-size: 2rem;
}

.desktop-menu {
    display: none;
}

.desktop-menu li {
    display: inline-block;
}

.menu-voices {
    text-decoration: none;
    color: var(--color-white);
    padding: 10px;
    margin: 10px;
}

.menu-btn {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*################### 
        MAIN
###################*/

/* @@@@@@ APP SECTION @@@@@@ */

.card {
    background-color: var(--color-lightblue);
    border-radius: 20px;
    margin: 0px 12px 2rem 12px;
    padding: 25px;
}

.card-content {
    text-align: center;
    align-items: center;
}

.card-title {
    color: var(--color-blue);
    margin: 2rem 0rem;
}

.card p {
    text-align:center;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.75rem;
}

.app-btn{
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 600;
    padding: 15px 60px;
    margin-bottom: 1rem;
    
}

.fa-apple{
    margin-right: 10px;
}

.demo-card-text {
    flex-direction: column;
    align-items: center;
}

.demo-card-text p {
    text-align: center;
}

.demo-card-img {
    align-self: flex-end;
}

.demo-card-img img{
    width: 100%;
    margin-bottom:-30px;
    /* padding: 40px; */
}

.card .fa-solid {
    font-size:7rem;
    margin-top: 2rem;
    color: var(--color-blue);
}

.card-content {
    flex-direction: column;
}


/* @@@@@@ STRATEGIC PLANNING SECTION @@@@@@ */

.planning {
    background-color: var(--color-purple);
}

.planning-container {
    padding: 20px 20px 50px 20px;
    flex-direction: column;
    align-items: center;
}

.planning-img {
    width: 100%;
    margin-bottom: 2rem;
}

.planning-title,
.planning-text {
    color: var(--color-white);
    margin: 1.5rem 0rem;
}

.planning-title {
    font-size: 40px;
    align-self: flex-start;
}

.planning-text {
    line-height: 1.25rem;
}

.planning-card{
    background-color: var(--color-white);
    border-radius: 50px;
    width: 100%;
    margin: 0px 12px;
    flex-direction: column;
    align-items: center;
}

.planning-card-img {
    width: 100%;
    padding: 20px;
}

.planning-card-title{
    margin: 1.0rem 0rem;
    font-size: 25px;
}

.planning-card-text{
    padding: 0px 20px;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    font-size: 18px;
}

.planning-card-btn {
    color: var(--color-black);
    background-color: var(--color-purple);
    border-radius: 100%;
    font-size: 30px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 2rem;
}

/* @@@@@@ TESTIMONIALS SECTION @@@@@@ */

.testimonials-container{
    padding: 20px 20px 50px 20px;
    flex-direction: column;
    align-items: center;

}

.testimonials-title1 {
    font-weight: 100;
    margin-top: 2rem;

}

.testimonials-text {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.75rem;
}

.testimonials-title2 {
    color: var(--color-purple);
    font-size: 35px;
    text-align: center;
    margin: 2rem 0rem;
}

.testimonials-card {
    background-color: var(--color-purple);
    border-radius: 50px;
    width: 100%;
    margin: 0px 12px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 20px;
}

.testimonials-card-text {
    color: var(--color-white);
    line-height: 2rem;
    text-align: center;
}

.testimonials-card-text .fa-quote-left {
    margin-right:4px ;
}

.names {
    margin: 2rem 0rem;
    font-size: 18px;
}

/* @@@@@@ BENEFITS SECTION @@@@@@ */

.benefits {
    background-color: var(--color-purple);
}

.benefits-container {
    flex-direction: column;
}

.benefits-container-title {
    color: var(--color-white);
    margin: 2rem 0rem;
    text-align: center;
    padding-top: 2rem ;

}

.benefits-cards {
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 20px;
    margin: 0px 12px;
    margin-bottom: 2rem;
    padding: 20px;
}

.benefits-cards h2 {
    font-size: 40px;
}

.benefits-cards h3 {
    font-size: 20px;
}

.benefits-color-text{
    align-self: flex-start;
    color: var(--color-purple);
    margin: 1rem 0rem;
}

.benefits-text {
    margin-bottom: 2rem;
    font-size: 15px;
    line-height: 1.25rem;
}

.benefits-btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 15px 20px;
    align-self: flex-start;  
}

/* @@@@@@ ABOUT US SECTION @@@@@@ */

.about-us-container {
    flex-direction: column;
    padding: 20px;
}

.about-us-findme{
    flex-direction: column;
    align-items: flex-start;
}

.about-us-title {
    color: var(--color-purple);
    font-size: 40px;
    margin: 2rem 0rem;
}

.about-us-text {
    margin: 1rem 0rem;
    line-height: 2rem;
}

.about-us-portrait .fa-quote-left {
    font-size: 80px;
    color: var(--color-purple);
    position: relative;
    bottom:220px;
    left:150px;
}

.about-us-findme h2 {
    color: var(--color-purple);
    line-height: 2.5rem;
    margin: 2rem 0rem;
}

.about-us-btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 15px 20px;
    margin: 2rem 0rem;
    font-size: 16px;
    font-weight: bold;
}

.about-us-btn .fa-linkedin{
    margin-right: 5px;
}

/* @@@@@@ GET STARTED SECTION @@@@@@ */

.get-started {
    background-color: var(--color-purple);
}
.get-started-container{
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.get-started-container h4 {
   color: var(--color-white);
   font-weight: 100;
   text-align: center;
}

.stp {
    color: var(--color-white);
    text-align: center;
    margin: 2rem 0rem;
}

.get-started-container p,
.get-started-container a{
    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    margin: 2rem 0rem;
    line-height: 1.75rem;
}

.accent-colored {
    color: var(--accent-color);
    font-size: 50px;
    text-align: center;
}

.get-started-container .get-started-btn { 
    background-color: var(--color-white);
    color: var(--color-purple);
    padding: 15px 60px;
    font-weight: 600;
    text-align: center;
}

/* ################### 
        FOOTER 
################### */

footer {
    background-color: var(--color-grey);
}

.footer-section-container p {
    color: var(--color-white);
    font-size: 16px;
    text-align: center;
    padding: 2rem 20px;
}

.footer-section-container a {
    color: var(--color-purple);
}



/*################### 
    MEDIA QUERY 
################### */


/* &&&&&&&&&&&&& TABLET &&&&&&&&&&&&&*/

@media all and (min-width: 768px) {
    
/* $$$$$$$$$$$ HEADER $$$$$$$$$$$ */
    
    .desktop-menu {
        display: none;
    }

/* $$$$$$$$$$$ MAIN $$$$$$$$$$$ */

/* @@@@@@  APP SECTION @@@@@@   */

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        padding: 12px;
    }

    .demo-card {
        width: calc(66.666% - 1.5rem);
    }

    .code-card,
    .web-card,
    .dev-card,
    .branding-card {
        width: calc(33.333% - 1.5rem);
    }

    .demo-card p,
    .demo-card .card-title {
        align-self: flex-start;
        text-align: left;
    }

    .app-btn{
        align-self: flex-start;
    }


/* @@@@@@ TESTIMONIALS SECTION @@@@@@ */

    .testimonials-card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testimonials-card-text-container {
        width: 50%;
    }

    .testimonials-card-text {
        line-height: 1.5rem ;
        text-align: left;
        align-items: center;
        margin:0;
        margin-left: 2rem; 
        font-size: 18px;
    }

    .names {
        margin-top: 1rem;
    }
/* @@@@@@ BENEFITS SECTION @@@@@@ */

    .benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 12px;
    }

    .benefits-cards {
        width: calc(100% / 2 - 30px )
    }

/* @@@@@@ ABOUT US SECTION @@@@@@ */

.about-us-container {
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 24px;
}

.about-us-text-area {
    width: 60%;
}

.about-us-findme {
    width: 30%;
}

/* @@@@@@ GET STARTED SECTION @@@@@@ */

.get-started-container {
    width: 80%;
    margin: 0 auto;
}

/* $$$$$$$$$$$ FOOTER $$$$$$$$$$$ */

.footer-section-container {
    width: 60%;
    margin: 0 auto;
}

}

/* &&&&&&&&&&&&& DESKTOP &&&&&&&&&&&&&*/

/* $$$$$$$$$$$ HEADER $$$$$$$$$$$ */

@media all and (min-width: 992px) {
    
    .misure-container{
        width: 80%;
        margin: 0 auto;
    }
    
    .desktop-menu {
        display:block;
    }

    .fa-bars {
        display: none;
    }

/* $$$$$$$$$$$ MAIN $$$$$$$$$$$ */

/*@@@@@@ APP SECTION @@@@@@*/

    .cards-container {
        width: 80%;
        margin: 0 auto;
    }

    .card-content {
        flex-direction: row;
    }

    .demo-card-img,
    .demo-card-text {
        width: calc(100% / 2);
    }

/* @@@@@@ STRATEGIC PLANNING SECTION @@@@@@ */

    .planning-container {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content:space-between;
    }

    .planning-1st-box {
        width: calc(100% / 2 - 20px);
        align-self:flex-end;
        margin-bottom: -30px;
    }

    .planning-card {
        width: calc(100% / 2 - 20px);
        align-self:flex-end;
    }

    .planning-card-img {
        width: 60%;
    }

    .planning-card-text {
        text-align: center;
        
    }

/* @@@@@@ TESTIMONIALS SECTION @@@@@@ */

    .testimonials-container {
        width: 80%;
        margin: 0 auto;
    }

/* @@@@@@ BENEFITS SECTION @@@@@@ */

    .benefits-container {
        width: 80%;
        margin: 0 auto;
    }

    .benefits-cards {
        width: calc(100% / 3 - 30px)
    }

/* @@@@@@ ABOUT US SECTION @@@@@@ */

    .about-us-container {
        width: 80%;
        margin: 0 auto;
    }

/* @@@@@@ GET STARTED SECTION @@@@@@ */

    .get-started-container {
        width: 60%;
        margin: 0 auto;
    }

/* @@@@@@ LARGE DESKTOP @@@@@@ */

}

@media all and (min-width: 1200px) {

}